// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if ($type == min) {
      $width: $width + 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@mixin heading1() {
  font-size: 50px;
  @include mq("tablet") {
    font-size: 58px;
  }
}
@mixin heading2() {
  @include mq("tablet") {
  }
  @include mq("desktop-small") {
  }
}
@mixin heading3() {
  @include mq("tablet") {
  }
}
@mixin heading4() {
  font-size: 27px;
}
@mixin heading5($size: normal) {
  @if ($size == medium) {
    @include mq("tablet") {
    }
  }
  @if ($size == normal) {
    @include mq("tablet") {
    }
  }
}

@mixin bodyText($size) {
  // font-weight: bold;
  @if $size == small {
    font-size: 16px;
    @include mq("tablet") {
      font-size: 18px;
    }
  }
  @if $size == normal {
    font-size: 19px;
    @include mq("tablet") {
      font-size: 22px;
    }
  }
  @if $size == medium {
    font-size: 31px;
    @include mq("tablet") {
      font-size: 35px;
    }
  }
  @if $size == "ordinary" {
    @include mq("tablet") {
    }
  }
  @if $size == large {
    font-size: 50px;
    @include mq("tablet") {
      font-size: 58px;
    }
  }
}

@mixin text-opacity() {
  &:hover {
    opacity: 0.7;
    transition: all ease-in-out 0.3s;
  }
}
@mixin text-transition($dir: "y") {
  @if ($dir == "y") {
    transition: transform 0.5s cubic-bezier(0.405, 0.005, 0, 1);
    transform: translateY(110%) translateZ(0);
    opacity: 0;
  }
}
@mixin text-transition-effect($dir: "y") {
  @if ($dir == "y") {
    transform: translateY(0) translateZ(0);
    transition: transform 1.5s cubic-bezier(0.405, 0.005, 0, 1);
    opacity: 1;
    transition-delay: 0.15s;
  }
}
