// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//Colors
$white: #ffffff;
$black: #000000;
$gray: #74808b;
$light-red: #f0323c;
$dark-gray: #8c959f;
$light-gray: #798691;
//Media query breakpoints

$breakpoints: (
  "phone-xsmall": 320px,
  "phone-small": 375px,
  "phone": 425px,
  "phone-wide": 480px,
  "phablet": 560px,
  "tablet-small": 640px,
  "tablet": 768px,
  "tablet-wide": 992px,
  "desktop-small": 1024px,
  "desktop": 1200px,
  "desktop-wide": 1440px,
);

//Z-index
$z-header: 10;
$menu-items: 5;
