// -----------------------------------------------------------------------------
// This file contains all styles related to the common parts in all application
// -----------------------------------------------------------------------------

//page styles
.container {
  max-width: 1252px;
  margin: auto;
  padding: 0 25px;
}
//section
.section {
  &-title {
    width: 100%;
    h1 {
      overflow: hidden;
      &.is-visible {
        span {
          @include text-transition-effect();
        }
      }
      span {
        display: inline-block;
        @include text-transition();
      }
    }
    @include mq("tablet") {
      width: 50%;
    }
  }
  &-content {
    width: 100%;
    @include mq("tablet") {
      width: 50%;
    }
  }
}
//work section
.work {
  background-color: $light-red;
  height: 90vh;
  padding-top: 85px;
  @include mq("tablet") {
    padding-top: 130px;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  .section-title {
    h1 {
      margin-bottom: 46px;
    }
  }
  .section-content {
    p {
      font-family: "Aeonik Medium";
      margin-bottom: 31px;
      opacity: 0;
      @for $i from 0 through $menu-items {
        &:nth-child(#{$i}) {
          transform: translateX(calc(#{$i + 1} * 30px));
          transition: 0.7s ease-in-out;
          transition-delay: calc(#{($i + 1)} * 0.2s);
        }
      }
      @include mq("tablet") {
        margin-bottom: 34px;
      }
    }
    &.is-visible {
      p {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}

//client section
.client {
  margin-top: 0;
  @include mq("tablet") {
    margin-top: -145px;
  }
  &-content {
    margin-bottom: 81px;
    @include mq("tablet") {
      margin-bottom: 93px;
    }
  }
  &-carousel {
    &__container {
      position: relative;
      margin-bottom: 27px;
      @include mq("tablet") {
        margin-bottom: 29px;
      }
      .slick-list {
        overflow: visible;
        width: 100vw;
        margin: 0 -25px;
        @include mq("tablet") {
          width: initial;
          margin: initial;
        }
      }
    }
    &__single {
      img {
        width: 100%;
        object-fit: cover;
        height: 70vw;
        @include mq("tablet") {
          height: 50vw;
        }
      }
      iframe {
        width: 100%;
        object-fit: cover;
        height: 70vw;
        @include mq("tablet") {
          height: 50vw;
        }
      }
    }
  }
  &-meta {
    display: flex;
    flex-wrap: wrap;
    &__left {
      width: 100%;
      @include mq("tablet") {
        width: 50%;
      }
      h4 {
        color: $light-red;
        margin-bottom: 12px;
        overflow: hidden;
        span {
          display: inline-block;
          @include text-transition();
        }
        &.is-visible {
          span {
            @include text-transition-effect();
          }
        }
      }
      p {
        font-family: "Aeonik Medium";
        color: $black;
        margin-bottom: 12px;
        overflow: hidden;
        span {
          display: inline-block;
          @include text-transition();
        }
        &.is-visible {
          span {
            @include text-transition-effect();
            transition-delay: 0.35s;
          }
        }
      }
      a {
        font-family: "Aeonik Medium";
        display: block;
        color: $dark-gray;
        overflow: hidden;
        @include bodyText("normal");
        @extend .transition;
        &:hover {
          color: $black;
          text-decoration-color: $black;
          @extend .transition;
        }
        span {
          display: inline-block;
          text-decoration: underline;
          @include text-transition();
        }
        &.is-visible {
          span {
            @include text-transition-effect();
            transition-delay: 0.55s;
          }
        }
      }
    }
    &__right {
      //   width: 100%;
      font-family: "Aeonik Medium";
      display: none;
      @include mq("tablet") {
        display: block;
        width: 50%;
      }
      p {
        color: $black;
        text-align: right;
        opacity: 0;
        transform: translateX(40px);
        transition: 0.7s ease-in-out;
        &.is-visible {
          opacity: 1;
          transform: translateX(0);
          transition-delay: 0.15s;
        }
      }
    }
  }
  &-load {
    margin-bottom: 82px;
    padding-top: 0px;
    text-align: center;
    .load-more {
      display: inline-block;
      cursor: pointer;
      transform-origin: center center;
      transition-property: transform;
      animation-name: anti-rotate;
      animation-duration: 0.7s;
      animation-iteration-count: 1;
      animation-timing-function: cubic-bezier(0.8, 0.3, 0.3, 1);
      animation-fill-mode: none;
      svg {
        path {
          @extend .transition;
        }
      }
      &:hover {
        animation-name: rotate;
        animation-duration: 0.7s;
        animation-iteration-count: 1;
        animation-timing-function: cubic-bezier(0.8, 0.3, 0.3, 1);
        animation-fill-mode: none;
        path {
          fill: $light-red;
          @extend .transition;
        }
      }
    }
    @include mq("tablet") {
      margin-bottom: 107px;
      padding-top: 21px;
    }
  }
}

//ourclient section
.ourclient {
  background-color: $light-red;
  padding: 91px 0;
  @include mq("tablet") {
    padding: 129px 0;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  .section-title {
    margin-bottom: 45px;
  }
  .section-content {
    display: flex;
    justify-content: space-between;
    &__left {
      width: 45%;
    }
    &__right {
      width: 45%;
    }
  }
  &-items {
    margin-bottom: 32px;
    font-family: "Aeonik Medium";
    &.is-visible {
      .ourclient-item {
        p {
          @include text-transition-effect();
        }
        @for $i from 0 through 15 {
          &:nth-child(#{$i}) {
            p {
              transition-delay: #{$i * 0.1s};
            }
          }
        }
      }
    }
  }
  &-item {
    overflow: hidden;
    p {
      @include text-transition;
    }
    &:first-child {
      color: $black;
    }
  }
}

//todo section
.todo {
  background-color: $white;
  color: $black;
  padding: 97px 0 34px;
  @include mq("tablet") {
    padding: 165px 0 80px;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  .section-title {
    margin-bottom: 62px;
  }
  &-items {
    margin-bottom: 62px;
    &.is-visible {
      .todo-item {
        span {
          @include text-transition-effect();
        }
        @for $i from 0 through 10 {
          &:nth-child(#{$i}) {
            span {
              transition-delay: #{$i * 0.1s};
            }
          }
        }
      }
    }
    @include mq("tablet") {
      margin-bottom: 69px;
    }
  }
  &-item {
    overflow: hidden;
    span {
      display: inline-block;
      @include text-transition();
      @include bodyText("large");
    }
    &:first-child {
      color: $light-red;
    }
  }
}

//photo section
.photo {
  position: relative;
  line-height: 0;
  &::before {
    position: absolute;
    content: "";
    height: 50%;
    width: 100%;
    background-color: $black;
    bottom: 0;
    left: 0;
  }
  img {
    position: relative;
  }
}

//map section
.map {
  line-height: 0;
  iframe {
    width: 100%;
    height: 130vw;
    @include mq("tablet-small") {
      height: 40vw;
    }
  }
}
//contact section
.contact {
  background-color: $black;
  padding: 97px 0;
  margin-top: -1px;
  @include mq("tablet") {
    padding: 134px 0;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  .section-title {
    margin-bottom: 45px;
  }
  .section-content {
    font-family: "Aeonik Medium";
    &__desc {
      overflow: hidden;
      margin-bottom: 30px;
      font-size: 22px;
      &.is-visible {
        span {
          @include text-transition-effect();
        }
      }
      span {
        display: inline-block;
        @include text-transition();
      }
    }
    &__tel {
      margin-bottom: 30px;
      li {
        overflow: hidden;
      }
      &.is-visible {
        span {
          @include text-transition-effect();
          &:not(:first-child) {
            transition-delay: 0.25s;
          }
        }
      }
      span {
        display: inline-block;
        font-size: 22px;
        @include text-transition();
        &:first-child {
          color: $light-red;
        }
      }
    }
    &__email {
      display: block;
      font-size: 22px;
      margin-bottom: 58px;
      color: white;
      overflow: hidden;
      span {
        text-decoration: underline;
        display: inline-block;
        @include text-transition();
      }
      &.is-visible {
        span {
          @include text-transition-effect();
        }
      }
    }
    &__map {
      display: block;
      font-size: 22px;
      margin-bottom: 30px;
      color: white;
      text-decoration-skip-ink: none;
      overflow: hidden;
      span {
        text-decoration: underline;
        display: inline-block;
        @include text-transition();
      }
      &.is-visible {
        span {
          @include text-transition-effect();
        }
      }
    }
    &__address {
      margin-bottom: 30px;
      &.is-visible {
        li {
          span {
            @include text-transition-effect();
          }
          @for $i from 0 through 10 {
            &:nth-child(#{$i}) {
              span {
                transition-delay: #{$i * 0.1s};
              }
            }
          }
        }
      }
      li {
        font-size: 22px;
        overflow: hidden;
        span {
          display: inline-block;
          @include text-transition();
        }
      }
    }
  }
}

//project
.project {
  padding-bottom: 100px;
  position: relative;
  .container {
    position: relative;
  }
  &-content {
    &__img {
      margin: 0 -25px;
      margin-bottom: 30px;
      img {
        object-fit: cover;
        width: 100%;
        height: 70vw;
        @include mq("tablet") {
          height: 50vw;
        }
      }
      @include mq("tablet") {
        margin: initial;
        margin-bottom: 64px;
      }
    }
    &__video {
      margin: 0 -25px;
      margin-bottom: 30px;
      iframe {
        width: 100%;
        height: 50vw;
        height: 70vw;
        @include mq("tablet") {
          height: 50vw;
        }
      }
      @include mq("tablet") {
        margin: initial;
        margin-bottom: 64px;
      }
    }
    p {
      max-width: 570px;
      color: $black;
      margin-bottom: 50px;
      opacity: 0;
      transform: translateX(40px);
      transition: 0.7s ease-in-out;
      &.is-visible {
        opacity: 1;
        transform: translateX(0);
      }
      @include mq("tablet") {
        margin-bottom: 104px;
      }
    }
  }
  @include mq("tablet") {
    margin-bottom: -1px;
    &::before {
      position: absolute;
      content: "";
      width: 100vw;
      height: 150px;
      background-color: $black;
      left: 0;
      top: 0;
    }
  }
}

.loading-screen {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-color: $light-red;
  width: 100%;
  height: 100%;
  transform: scaleY(0) skewX(0);
  transform-origin: top left;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 100;
  pointer-events: none;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes anti-rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
